html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html h2 {
  font-family: 'Roboto', sans-serif;
}

html p, html a {
  font-family: 'Lato', sans-serif;
}

.App {
  background-color: #9147FF;
  text-align: center;
}

#header .games {
  height: 100vh;
  padding: 0vh 5vw 20vh;
}

#header .games .game {
  opacity: 0.6;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

#header .games .game .game-img {
  width: 17vw;
  height: 60vh;
}

#header .games .game:hover {
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 1390px) {
  #header {
    margin-left: 7vw;
    margin-right: 5vw;
  }
  #header .pg-title {
    width: 90vw;
  }
  #header .games {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #header .games .game {
    width: 30%;
    height: 40vh;
    margin: 2vh  1vw;
  }
  #header .games .game .game-img {
    width: 100%;
    height: 40vh;
  }
}

@media screen and (max-width: 750px) {
  #header {
    margin-left: 10vw;
    margin-right: 0vw;
  }
  #header .pg-title {
    width: 80vw;
    margin-bottom: 1vh;
  }
  #header .games {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #header .games .game {
    width: 40%;
    height: 30vh;
    margin: 1vh  2vw;
  }
  #header .games .game .game-img {
    width: 100%;
    height: 30vh;
  }
}

.game-section {
  height: 100vh;
}

.game-section .game-container {
  margin: 5vh 5vw;
  height: 80%;
}

.game-section .game-container .streamers {
  width: 50%;
}

.game-section .game-container .streamers img {
  width: 20vw;
  height: 40%;
  opacity: 0.6;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

.game-section .game-container .streamers img:hover {
  cursor: pointer;
}

.game-section .game-container .information {
  width: 50%;
  font-size: 2rem;
  text-align: left;
}

.game-section .game-container .information h2 {
  font-size: 3rem;
}

@media screen and (max-width: 1390px) {
  .game-section .game-container {
    margin-left: 7vw;
    margin-right: 2vw;
  }
  .game-section .game-container .streamers img {
    width: 18vw;
  }
  .game-section .game-container .information {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 750px) {
  .game-section .game-container {
    margin-left: 10vw;
    margin-right: 0vw;
  }
  .game-section .game-container .streamers {
    width: 40%;
  }
  .game-section .game-container .streamers img {
    width: 20vw;
    height: 20%;
  }
  .game-section .game-container .information {
    font-size: 1.3rem;
    width: 70%;
  }
  .game-section .game-container .information h2 {
    font-size: 2rem;
  }
  .game-section .game-container .information p {
    margin: 3px;
  }
  .game-section .game-container .information div a svg {
    width: 20px;
  }
}

@media screen and (max-width: 460px) {
  .game-section .game-container .information {
    overflow: scroll;
  }
  .game-section .game-container .information p {
    margin: 0px 5px;
  }
  .game-section .game-container .information .sm {
    margin: 0px 5px;
  }
  .game-section .game-container .information h2 {
    font-size: 1.6rem;
  }
  .game-section .game-container .information div a svg {
    width: 30%;
    margin: 0;
    padding: 0;
    display: inline-block;
  }
}

.sidebar {
  left: 0;
  width: 55px;
  height: 100%;
  z-index: 2;
  opacity: 0.8;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}

.sidebar:hover {
  opacity: 1;
}

.sidebar .option-nav {
  position: relative;
  text-align: left;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.sidebar .option-nav:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.sidebar .option-nav:nth-child(1) {
  top: 5vh;
  font-size: 30px;
  height: 50px;
}

.sidebar .option-nav:nth-child(1):active, .sidebar .option-nav:nth-child(1) :focus, .sidebar .option-nav:nth-child(1) :visited, .sidebar .option-nav:nth-child(1) :hover {
  color: #000;
  text-decoration: none;
}

.sidebar .option-nav:nth-child(2) {
  top: 15vh;
}

.sidebar .option-nav:nth-child(2)::after {
  content: "<a href=https://icons8.com/icon/57606/league-of-legends>League of Legends icon by Icons8</a>";
  visibility: hidden;
  font-size: 0px;
}

.sidebar .option-nav:nth-child(3) {
  top: 25vh;
}

.sidebar .option-nav:nth-child(3)::after {
  content: "<a href=https://icons8.com/icon/84531/fortnite>Fortnite icon by Icons8</a>";
  visibility: hidden;
  font-size: 0px;
}

.sidebar .option-nav:nth-child(4) {
  top: 35vh;
}

.sidebar .option-nav:nth-child(4)::after {
  content: "<a href=https://icons8.com/icon/50880/world-of-warcraft>World of Warcraft icon by Icons8</a>";
  visibility: hidden;
  font-size: 0px;
}

.sidebar .option-nav:nth-child(5) {
  top: 45vh;
}

.sidebar .option-nav:nth-child(5)::after {
  content: "<a href=https://icons8.com/icon/32260/rockstar-games>Rockstar Games icon by Icons8</a>";
  visibility: hidden;
  font-size: 0px;
}

.sidebar .option-nav:nth-child(6) {
  top: 55vh;
}

.sidebar .option-nav:nth-child(6)::after {
  content: "https://github.com/HearthSim/hs-icons";
  visibility: hidden;
  font-size: 0px;
}

@media screen and (max-width: 460px) {
  .sidebar {
    width: 45px;
  }
  .sidebar .option-nav a {
    font-size: 23px;
  }
  .sidebar .option-nav a svg {
    width: 40px;
  }
}

#fortnite {
  position: relative;
  left: -100vw;
  opacity: 0;
  -webkit-transition: linear 0.5s;
  transition: linear 0.5s;
}

@media screen and (max-width: 1390px) {
  #fortnite .fortnite-title {
    margin-left: 7vw;
    margin-right: 2vw;
    width: 50vw;
  }
}

@media screen and (max-width: 750px) {
  #fortnite .fortnite-title {
    width: 60vw;
    margin-left: 10vw;
    margin-right: 0vw;
  }
}

#lol {
  position: relative;
  opacity: 0;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
}

@media screen and (max-width: 1390px) {
  #lol .lol-title {
    margin-left: 7vw;
    margin-right: 2vw;
    width: 80vw;
  }
}

@media screen and (max-width: 750px) {
  #lol .lol-title {
    width: 80vw;
    margin-left: 10vw;
    margin-right: 0vw;
  }
}

#wow {
  position: relative;
  left: -100vw;
  opacity: 0;
  -webkit-transition: linear 1s;
  transition: linear 1s;
}

@media screen and (max-width: 1390px) {
  #wow .wow-title {
    margin-left: 7vw;
    margin-right: 2vw;
    width: 80vw;
  }
}

@media screen and (max-width: 750px) {
  #wow .wow-title {
    width: 80vw;
    margin-left: 10vw;
    margin-right: 0vw;
  }
}

#gta {
  position: relative;
  opacity: 0;
  -webkit-transition: ease-in 1s;
  transition: ease-in 1s;
}

@media screen and (max-width: 1390px) {
  #gta .gta-title {
    margin-left: 7vw;
    margin-right: 2vw;
    width: 30vw;
  }
}

@media screen and (max-width: 750px) {
  #gta .gta-title {
    width: 40vw;
    margin-left: 10vw;
    margin-right: 0vw;
  }
}

#hs {
  position: relative;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: linear 1s;
  transition: linear 1s;
}

@media screen and (max-width: 1390px) {
  #hs .hs-title {
    margin-left: 7vw;
    margin-right: 2vw;
    width: 60vw;
  }
}

@media screen and (max-width: 750px) {
  #hs .hs-title {
    width: 70vw;
    margin-left: 10vw;
    margin-right: 0vw;
  }
}

.onScreenF #fortnite {
  left: 0 !important;
  opacity: 1 !important;
}

.onScreenL #lol {
  opacity: 1 !important;
}

.onScreenW #wow {
  left: 0 !important;
  opacity: 1 !important;
}

.onScreenG #gta {
  opacity: 1 !important;
}

.onScreenH #hs {
  -webkit-transform: scale(1);
          transform: scale(1);
}
/*# sourceMappingURL=index.css.map */